html{
    font-size: 62.5%;
}

#header{
    .links{
        button{
            font-size: 1.2rem;
            font-family: inherit;
            ion-icon{
                font-size: 2rem;
            }
        }
    }

    .header__sidebar,
    .header__nav__wider-screens{
        li{
            font-size: 1.6rem;
        }
    }

    .header__search{
        button ion-icon{
            font-size: 2rem;
        }
    }
}

.hero{
    h3{
        font-size: $fs-1;
        font-weight: $fw-500;
    }
    h1{
        font-size: $fs-0;
        line-height: 1;
        font-weight: $fw-600;
    }
    .btn{
        font-family: inherit;
        font-size: $fs-3;
        font-weight: $fw-500;
    }
}

.service{
    .services{
        h3{
            font-size: 1.8rem;
            font-weight: $fw-500;
        }
        p{
            font-size: 1.6rem;
            opacity: .7;
        }
    }
    .category .service-btn{
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: $fw-500;
    }
}

.products{
    &__title{
        font-size: 2.8rem;
        font-weight: $fw-500;
    }
    &__tabs label{
        font-size: 1.6rem;
        font-weight: $fw-600;
    }

    &__cards__card{
        .state{
            font-size: 1.4rem;
        }

        .btns{
            button{
                font-size: 1.6rem;
                font-family: inherit;
            }
        }

        a{
            font-size: 1.8rem;
            font-weight: $fw-500;
        }

        .price,
        .item-sale{
            font-size: 1.5rem;
            font-weight: $fw-500;
        }
    }
}

.fashion-news{
    h2{
        font-size: 2.8rem;
        font-weight: $fw-500;
        text-align: center;
    }
    .content{
        a,
        ion-icon{
            font-size: 1.4rem;
            font-weight: $fw-500;
            opacity: .6;
        }

        & + a{
            font-size: 2rem;
            font-weight: $fw-600;
        }
    }
}

.subscription{
    h2{
        font-size: 2.6rem;
        font-weight: $fw-500;
    }
    p{
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    .form{
        input{
            font-family: inherit;

            &::placeholder{
                font-size: 1.6rem;
            }
        }
        .mail-icon{
            font-size: 1.6rem;
        }
    }
}

.footer{
    &__top__brand{
        p, .socials ion-icon{
            font-size: 1.6rem;
        }
    }

    &__top__links{
        h3{
            font-size: 2.2rem;
            font-weight: $fw-500;
        }
        a{
            font-size: 1.6rem;
        }
    }

    &__bottom{
        font-size: 1.6rem;
    }
}