
.section{
    padding-block: $section-padding;
}

.container{
    padding-inline: 1.5rem;
}

.w-100{
    width: 100%;
    height: 100%;
}

.sale{
    background-color: $candy-pink;
}

.new{
    background-color: $ocean-green;
}



@media (min-width: 36.25em) {  // 580px
    .container{
        max-width: 550px;
        margin-inline: auto;
    }
}

@media (min-width: 48.125em) {  // 770px
    .container{
        max-width: 750px;
        margin-inline: auto;
    }
}

@media (min-width: 62em) {  // 992px
    .container{
        max-width: 950px;
        margin-inline: auto;
    }
}

@media (min-width: 75em) {  // 1200px
    .container{
        max-width: 1150px;
        margin-inline: auto;
    }
}