.footer{
    padding-top: 6rem;
    &__top{
        background-color: $cultured;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4rem;
        padding-inline: 1.5rem;
    }
    &__top__brand{
        p{
            margin-block: 2rem;
            max-width: 50ch;
            color: $sonic-silver;
        }
        .socials{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        .socials a{
            position: relative;
            border: 1px solid $eerie-black;
            padding: 1rem;
            border-radius: 50%;
            transition: background-color .3s;

            &:hover{
                background-color: $eerie-black;
            }
            &:hover ion-icon{
                color: $white;
            }
        }
    }

    &__top__links__wrapper{
        width: 100%;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;


        .footer__top__links{
            flex: 1 0 20rem;
            h3{
                margin-bottom: 1.5rem;
            }
            a{
                position: relative;
                color: $sonic-silver;
                transition: translate .5s ease;

                &::before{
                    content: '';
                    position: absolute;
                    left: -1rem;
                    top: 50%;
                    translate: -50%;
                    width: 1.2rem;
                    height: .3rem;
                    border-radius: .3rem;
                    background-color: $sonic-silver;
                }
            }
            li{
                padding-block: .5rem;
                display: flex;
                align-items: center;
                gap: .5rem;
                overflow: hidden;
                cursor: pointer;

                &:hover a{
                    translate: 2rem 0;
                }
            }
        }
    }

    &__bottom{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-block: 2rem 9rem;

        p{
            text-align: center;
        }
        color: $sonic-silver;
        b{
            color: $eerie-black;
        }

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
            margin-left: 2rem;
        }
    }
}




@media (min-width: 48.125em) {  // 770px
    .footer{
        &__bottom{
            justify-content: center;
        }
    }
}

@media (min-width: 62em) {  // 992px
    .footer{
        &__bottom{
            padding-block: 2rem;
        }
    }
}

@media (min-width: 75em) {  // 1200px
    .footer{
        &__top{
            flex-wrap: nowrap;
        }
        &__bottom{
            justify-content: space-between;
        }
    }
}