#header{
    &.slide-up{
        position: fixed;
        z-index: 100;
        background-color: $white;
        width: 100%;
        box-shadow: 3px 0 3px 1px rgba(180, 179, 179, 0.384);
    }
    .header__search{
        display: none;
        position: relative;
        input{
            height: 4rem;
            padding-inline: 2rem;
            border-radius: .5rem;
            border: 1px solid rgba(138, 138, 138, 0.408);

            &:focus{
                outline: 1px solid $sonic-silver;
            }
        }
        button{
            position: absolute;
            top: 50%;
            right: 0;
            translate: -50% -50%;
        }
    }

    .header__upper-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7rem;

        .logo{
            width: 12rem;
        }

        .open-menu{
            padding: .5rem;
        }

        .open-menu > *{
            width: 2rem;
            height: .2rem;
            background-color: $black;
        }
        .open-menu .middle{
            margin-block: .3rem;
            width: 1rem;
            margin-left: auto;
    
            transition: width .2s;
        }
        .open-menu:hover .middle{
            width: 2rem;
        }
    }

    .links{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 7rem;
        background-color: $white;
        box-shadow: 0 -1px 15px rgba(124, 124, 124, 0.166);

        button{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;

            width: 5rem;
        }

        .cart-btn,
        .wishlist-btn{
            position: relative;
        }
        button span{
            position: absolute;
            z-index: 2;
            top: -.5rem;
            right: 0;
            color: $white;
            text-align: center;
            line-height: 2rem;
            background-color: $eerie-black;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
        .cart-btn span{
            background-color: $ocean-green;
        }
    }

    .header__sidebar{
        background-color: $white;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 15;
        bottom: 0;
        max-width: 28rem;
        width: 100%;
        padding: 2rem;

        translate: 28rem 0;

        visibility: hidden;

        transition: all .3s ease-in-out;

        &.show{
            visibility: visible;
            translate: 0 0;
        }

        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5rem;

            ion-icon{
                font-size: 2.5rem;
            }
        }

        li{
            padding-block: 1rem;

            &:not(:last-child){
                border-bottom: 1px solid rgba(237, 235, 235, 0.552);
            }
        }

        &.show + .overlay{
            visibility: visible;
            opacity: .7;
        }
    }

    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 12;
        width: 100vw;
        height: 100vh;
        background-color: $eerie-black;
        opacity: 0;
        visibility: hidden;

        transition: opacity .3s, visibility .2s;
    }

    .header__nav__wider-screens{
        display: none;
    }
}





@media (min-width: 62em) {  // 992px
    #header{
        .header__search{
            display: block;
        }

        .links{
            position: static;
            box-shadow: none;
            background-color: transparent;

            & li:nth-child(2){
                display: none;
            }
        }
        
        .header__upper-navbar{
            .open-menu{
                display: none;
            }
        }

        .header__nav__wider-screens{
            display: block;
            border-top: 1px solid $cultured;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4rem;
                padding-block: 2rem;
            }
        }

        &.slide-up{
            position: relative;
            box-shadow: none;
        }
        &.slide-up .header__nav__wider-screens{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: $white;
            box-shadow: 3px 0 3px 1px rgba(180, 179, 179, 0.384);
        }
    }
}